

/** Forme style **/

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin btn-style{
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient($second-color 0%, $primary-color 100%);
}

@mixin icon-style{
  color: $icon-color;
  font-size: 22px;
}

@mixin shadow-style{
  box-shadow: 0px 5px 10px 0px #8a8a8a52;
}


/** Fonctionnement section **/

@mixin functioning-style{
  gap: 10px;
  width: 91%;
  background-color: #F6F6F6;
  height: 80px;
  border-radius: 25px;
  counter-increment: item;
  display: flex;
  align-items: center;
}

@mixin functioning-number{
  clip-path: circle(40%);
  background-color: $primary-color;
  padding: 7px;
  color: $background-white;
  position: absolute;
  left: -10px;
}


@mixin padding-section{
  padding-top: 55px;
  padding-bottom: 55px;
}


/** Restaurant section **/

@mixin nouveau-style{
  padding: 8px 15px 8px 15px;
  background-color: $background-new;
  color: $newcolor-text;
  width: 85px;
  border-radius: 2px;
  @include button-text;
}



/** Fonts style **/
@mixin title-font{
  font-family: $title-font;
  font-size: 22px;
}
@mixin h1-style {
  font-size: 24px;
  font-family: $main-font;
  font-weight: 700;
}
@mixin text-style{
  font-size: 18px;
  font-family: $main-font;
  font-weight: 100;
}

@mixin button-text{
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

@mixin text-nobold{
  font-size: 16px;
  font-weight: 100;
  font-family: $main-font;
}

@mixin h3{
  font-size: 18px;
  font-weight: 400;
}