/** Fonts **/
$main-font: 'Roboto', sans-serif;
$title-font: "Shrikhand", cursive;

/** Colors **/
$primary-color: #9356DC;
$second-color: #FF79DA;
$tertiaire-color: #99E2D0;
$background: #F6F6F6;
$background-grey: #EAEAEA;
$background-white: #FFFFFF;
$icon-color: #7E7E7E;
$background-new: #99E2D0;
$newcolor-text: #008766;
$background-black: #353535;

/** Size **/
$functioning-margin: 10px 10px 0px 0px;

/** Responsive **/

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;