/** Fonts **/
/** Colors **/
/** Size **/
/** Responsive **/
/** Fonts style **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #F6F6F6; }

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

.header {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header img {
    width: 50%;
    height: 69px; }
  .header .ville {
    padding: 15px;
    /**box-shadow: inset rgb(0 0 0 / 21%) 0px 2px 3px 0px;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA; }
    .header .ville i {
      margin-right: 12px;
      opacity: inherit; }
    .header .ville input {
      border: transparent;
      font-size: 16px;
      opacity: initial;
      background-color: #EAEAEA;
      font-weight: 500;
      width: 115px; }
    .header .ville ::placeholder {
      color: black;
      font-weight: 500; }

@media screen and (min-width: 1024px) {
  .header {
    background-color: #FFFFFF; }
    .header .ville {
      background-color: #EAEAEA; }
    .header img {
      width: 15%; } }
.explorer {
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  align-items: center; }
  .explorer h1 {
    padding: 27px 66px 0px 66px;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700; }
  .explorer p {
    padding: 27px 33px;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 100; }
  .explorer .button {
    border: none;
    border-radius: 25px;
    color: white;
    background: linear-gradient(#FF79DA 0%, #9356DC 100%);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 0px 5px 10px 0px #8a8a8a52;
    padding: 15px 24px 15px 24px;
    transition: all 1s; }
    .explorer .button:hover {
      opacity: 0.7;
      transform: scale(1);
      box-shadow: 0px 10px 15px 0px #8a8a8aa0; }

@media screen and (min-width: 1024px) {
  .explorer {
    background-color: #F6F6F6;
    padding-top: 0px; }
    .explorer h1 {
      font-size: 38px; }
    .explorer p {
      font-weight: 100; } }
.functioning {
  background-color: #FFFFFF;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: baseline;
  padding: 50px 0px 50px 0px; }
  .functioning ol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    gap: 10px; }
  .functioning .functioning__container {
    margin-left: 25px;
    flex-direction: column;
    display: flex;
    align-items: center; }
    .functioning .functioning__container .functioning__item {
      gap: 10px;
      gap: 10px;
      width: 91%;
      background-color: #F6F6F6;
      height: 80px;
      border-radius: 25px;
      counter-increment: item;
      margin: 34px 34px -10px 42px;
      display: flex;
      align-items: center;
      box-shadow: 0px 5px 10px 0px #8a8a8a52; }
      .functioning .functioning__container .functioning__item .functioning__number {
        clip-path: circle(40%);
        background-color: #9356DC;
        padding: 7px;
        color: #FFFFFF;
        position: absolute;
        left: 32px; }
    .functioning .functioning__container .functioning__txt {
      margin: 19px;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none; }
    .functioning .functioning__container i {
      margin-right: 20px;
      margin-left: 16px;
      color: #7E7E7E;
      font-size: 22px; }
    .functioning .functioning__container i:hover {
      color: #9356DC; }

@media screen and (min-width: 1024px) {
  .functioning {
    align-items: normal;
    justify-content: initial;
    padding: 50px 150px;
    background-color: #FFFFFF; }
    .functioning h2 {
      margin: 0; }
    .functioning .functioning__container {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: auto;
      justify-content: space-between; }
      .functioning .functioning__container .functioning__item {
        gap: 10px;
        margin: 15px;
        width: 318px; }
        .functioning .functioning__container .functioning__item .functioning__number {
          position: relative;
          left: -12px; }
        .functioning .functioning__container .functioning__item .functioning__txt {
          margin: 0;
          gap: 17px; }
          .functioning .functioning__container .functioning__item .functioning__txt i {
            margin: 0; } }

/*# sourceMappingURL=style.css.map */
