/** Header section **/
@media screen and (min-width: $breakpoint-desktop){
    main{
        background-color: $background-white;
    }
    .header__menu{
        #header__photo{
            & img{
                height: 340px;
            }
        }
    }
    .container__menu{
        margin: auto;
        width: 75%;
        margin-top: 115px;
        .title__menu{
            gap: 25px;
            display: flex;
            justify-content: center;
            & h1{
                font-size: 22px;
            }
            
        }
        
    }
    .menu__h2{
        padding-right: 525px;
    }
    .container__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu__cards{
        width: 550px;
    }
    .footer{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 24px;
        padding-right: 26px;

        & img{
            margin-top: 0px;
            margin-left: 100px;
        }
        .footer__mentioncontact{
            display: flex;
        }
        .footer__proposerpartenaire{
            display: flex;
            margin-right: 45px;
        }
        .footer__reverve{
            display: flex;
        }
    }
    .button__div{
        .button{
            padding: 15px 40px 15px 40px;
            margin-top: 41px;
            margin-bottom: 41px;
        }
    }
}
.footer{
    padding-bottom: 30px;
    padding-top: 74px;
}
/** Mobile Version **/

.header__menu{
    box-shadow: none;
    @include flex-center;
    flex-direction: column;
    height: 237px;
    padding-top: 20px;
    background-color: $background-white;
    .header__logo__arrow{
        @include flex-center;
        & i{
            position: absolute;
            left: 24px;
            font-size: 20px;
            top: 27px;
            text-decoration: none;
            color: $background-black;
        }
    }
}
#header__arrow{
    display: none;
}
    

#header__photo{
    margin-top: 11px;
    width: 100%;

    & img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

/** Menu section **/

.container__menu{
    background-color: $background;
    z-index: 1;
    border-radius: 25px 25px 0px 0px;
    .menu__h2{
        margin-bottom: 15px;
    }

    & h2{
        @include text-nobold;
        margin-top: 28px;
        border-bottom: 2px solid $tertiaire-color;
        width: 35px;
        padding-bottom: 2px;
    }
    .menu__heart{
        height: 12px;
        transform: scaleX(0.9);
        font-size: 28px;
        position: relative;
        bottom: 7px;
        transition: all 0.4S ease-in-out;
        .fa-sharp{
            position: absolute;
        }
        .fa-solid{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:hover{
                background-image: linear-gradient(#ffaae7 0%, #a374dc 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 1;
                transition: all 0.4S ease-in-out;
            }
        }
    }
    .title__menu{
        @include flex-center;
        gap: 37px;
        padding-top: 50px;
        margin-left: 33px;
        & h1{
            @include title-font;
            font-size: 26px;
        }
        
    }
    .container__cards{
        margin: 15px;

        @keyframes slideIn{
            from{
            opacity:0;
            transform:translate3d(0, 30px, 0); //L'élément est déplacé de 30 pixels vers le bas (sur l'axe Y).
            }
            
            to{
                opacity:1;
                transform:translate3d(0,0,0); //L'élément revient à sa position d'origine.
            }
        }
    
    .menu__cards{
        background-color: #FFFFFF;
        height: 70px;
        border-radius: 18px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        @include shadow-style;
        margin-bottom: 15px;
        overflow: hidden;
        animation-name:slideIn; //Utilise l'animation définie par @keyframes slideIn
        animation-duration:1s;
        animation-timing-function:ease; //L'animation commence lentement, accélère au milieu et ralentit à la fin.
        animation-fill-mode: both; //l'élément retiendra les styles définis dans la première et la dernière image clé de l'animation
        .menu__content{
            display: flex;
            flex-direction: column;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 15px;
            .menu__secondtitle{
            
                h3{
                    padding: 10px 0px 5px 0px;
                    @include h3;
                    text-overflow:ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                    transition:width ease 0.7s;
                }
                
            }
            .menu__description{
                display: flex;
                justify-content: space-between;
                text-overflow:ellipsis;
                overflow:hidden;
                white-space: nowrap;
                margin-right: 10px;
                @include text-nobold;

                & p{
                    text-overflow:ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                }
    
                .menu__prix{
                    font-weight: 500;
                }
            }
        }
        
        .menu__check{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-right: -50px;
            border-radius: 0px 15px 15px 0px;
            width: 50px;
            transition: all 0.3s ease-out;
            color: $background-white;
        }
        &:hover .menu__check{
            height: 100%;
            margin-right: 0px;
            width: 80px;
            background-color: $tertiaire-color;
        }
            }
                
            }
        }
.button__div{
    @include flex-center;
    justify-content: center;
    .button{
        @include btn-style;
        @include button-text;
        @include shadow-style;
        padding: 15px 40px 15px 40px;
        margin-top: 41px;
        margin-bottom: 41px;
        transition: all 1s;
        &:hover{
            opacity: 0.7;
            transform : scale(1);
            box-shadow: 0px 10px 15px 0px #8a8a8aa0;
        }
    }
}

.footer{
    padding-bottom: 20px;
}